@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Nunito:wght@600&family=Zen+Dots&display=swap');

html {
    scroll-behavior: smooth;
}
    .nav-item {
    font-family: 'Krona One', sans-serif;
    font-size: 12px;
}

.navbar-brand{
    font-family: 'Zen Dots', cursive;
}

h1{
    font-family: 'Nunito', sans-serif;
}


.form {
    justify-content: center;
    text-align: center;
    align-items: center;
}

input{
    height: 50px;
    width: 100%;
    border-radius: 50px;
    outline: none;
}

select{
    height: 40px;
    width: 100px;
}

footer{
    height: 20vh;
}

.foot {
    color: #fff;
    font-family: 'Krona One', sans-serif;
    font-size: 15px;
    padding-top: 20px;
}


.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.fab {
    padding: 10px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    cursor: pointer;
  }

  .social-icons{
      justify-content: center;
      text-align: center;
      align-items: center;
  }
  
  .fab:hover {
      opacity: 0.7;
  }
  
  .fa-facebook-f {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
